@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
:root {
  font-family: "Inter", sans-serif;
}
@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 1000px;
  }
}

h1 {
  @apply text-4xl md:text-6xl font-bold mb-6;
}

h2 {
  @apply text-3xl font-semibold text-pink-600 mt-6;
}

.buttons {
  @apply flex gap-6 relative flex-wrap justify-center;
}

button {
  @apply bg-pink-500 hover:bg-pink-600 text-white font-semibold py-3 px-6 rounded-xl transition-all duration-200;
}
